<%= simple_form_for(@worker, url: {action: 'create'}) do |form| %>
  <% if worker.errors.any? %>
    <%= form.error_notification%>
  <% end %>

  <div class="field">
    <%= form.input :name %>
  </div>

  <div class="field">
    <%= form.input :job_title %>
  </div>

  <div class="actions">
    <%= form.button :submit, 'Próximo' %>
  </div>
<% end %>
